html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.app-root {
  width: 100%;
  display: flex;
}

/* Mobile devices may have difficulty saving canvas elements, so display a warning */
.app-search__mobile-warning {
  display: none;
  margin-bottom: 10px;
  background-color: #ffd0d0;
}

@media screen and (orientation: portrait) {
  .app-root {
    flex-direction: column;
  }

  .app-search__mobile-warning {
    display: block;
  }
}

.app-search {
  flex: 1;
  padding: 10px;
  max-width: 100%;
}

.app-search__error {
  color: #ff0000;
  padding: 0 0 10px 10px;
}

.app-search__form {
  display: flex;
  padding-bottom: 10px;
}

.app-search__form-input {
  flex: 1;
  font-size: 20px;
  vertical-align: middle;
}

.app-search__form-button {
  margin-left: 5px;
  font-size: 18px;
  width: 60px;
}

.app-search__form-media {
  margin-right: 5px;
  font-size: 16px;
}

.app-search__results {
  padding-left: 5px;
  max-height: 500px;
  overflow-y: scroll;
}

.app-search__result {
  border-top: 1px dotted #aaaaaa;
  display: flex;
  align-items: flex-start;
  list-style-type: none;
  cursor: pointer;
}

.app-search__result:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.app-search__result-image {
  margin: 5px;
  width: 80px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app-search__result-title {
  font-size: 1.2em;
  flex: 1;
  align-self: center;
}

.app-selections_container {
  margin-top: 10px;
}

.app-selections {
  padding-left: 20px;
}

.app-selections__media {
  display: flex;
  padding-bottom: 5px;
}

.app-selections__media-delete {
  margin-right: 4px;
}

.app-selections__media-title {
  padding-left: 3px;
  margin-right: 3px;
  flex: 1;
}

.app-bingo_settings {
  margin-top: 10px;
}

.app-bingo_settings__label {
  display: block;
  padding-bottom: 8px;
}

.app-bingo_settings__label > span {
  margin-right: 10px;
}

.app-bingo {
  padding: 10px;
  text-align: center;
  flex: 2;
  overflow: scroll;
}

.app-bingo__generate {
  margin-bottom: 10px;
}

.app-bingo__generate-button {
  font-size: 20px;
}

.app-bingo__canvas {
  width: auto !important;
  height: auto !important;
  max-width: 90%;
  max-height: 85%;
  padding: 10px;
}

.app-bingo__container {
  display: inline-block;
}

.app-bingo__table {
  border-spacing: 6px;
}

.app-bingo__header {
  font-weight: bold;
  font-size: 40px;
  padding: 5px;
  width: 1px;
}

.app-bingo__credit {
  text-align: right;
  padding-right: 5px;
  padding-bottom: 2px;
}

.app-bingo__cell {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;

  width: 150px;
  min-width: 150px;
  height: 200px;
  display: table-cell;
  vertical-align: bottom;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
}

.app-bingo__cell-free {
  font-size: 30px;
}

.app-bingo__cell-text {
  border-radius: 20px;
  font-size: 15px;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  display: inline-block;
  padding: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

.app-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
  color: #ffffff;
  padding-top: 20px;
}

.app-overlay__content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}
